.LagVTT {
  width: 100%;
  height: 100vh;

  .MapView {
    max-width: 100%;
    height: 100%;

    .unit {
      cursor: pointer;
    }
  }

  .Flyout {
    position: fixed;
    right: 0px;
    top: 0px;
    display: none;
    border: 1px solid black;
    background: #eee;
    padding: 10px 20px;

    &.show {
      display: block;
    }

    .ButtonBox {
      button {
        padding: 5px 10px;
      }

      button + button {
        margin-left: 10px;
      }
    }
  }
}
