.MapPlanner {
  display: grid;
  grid-template: "view details" "code details";
  grid-template-columns: auto 400px;
  grid-template-rows: auto 300px;
  width: 100%;
  height: 100vh;

  &.solo {
    grid-template: "view";
    .MapDetails, .MapCode { display: none; }
  }

  .ButtonBox {
    position: absolute;
    right: 10px;
    bottom: 10px;

    button { padding: 5px 10px; }
    button + button {
      margin-left: 1em;
    }
  }

  .MapView {
    grid-area: view;
    max-width: 100%;
    height: 100%;

    .unit {
      cursor: pointer;
    }
  }

  .MapDetails {
    grid-area: details;

    table {
      width: 100%;
    }

    input {
      box-sizing: border-box;
      width: 100%;
    }
  }

  .MapCode {
    grid-area: code;
    font-family: monospace;
    white-space: pre-line;
  }
}
